﻿body {
}

.layoutatas {
    margin-left: -100px;
    margin-right: -100px;
    height: 75px;
    background-color: white;
}

.dropdown-container {
    display: none;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.dropdown-btn {
    color: #000080;
    width: 100%;
    cursor: pointer;
}


#judul {
    padding-left: 200px;
    padding-top: 18px;
    color: #000080;
}

#sidebar {
    padding-top: 10px;
    margin-left: 25px;
}

.content #datadata {
    background-color: transparent;
    margin-right: 150px;
    width: 100%;
    height: 320px;
}

tr {
    background-color: white;
}

.dot {
    margin-left: 0px;
    margin-right:35px;
    height: 14px;
    width: 14px;
    background-color: #000080;
    border-radius: 50%;
    display: inline-block;
}

.btn-link {
    margin: 0;
    font-family: Arial;
    font-weight: 500;
    color: #000080;
}

    .btn-link,
    .btn-link:active,
    .btn-link[disabled],
    fieldset[disabled] .btn-link {
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 230px;
        text-align: left;
    }

        .btn-link,
        .btn-link:hover,
        .btn-link:focus,
        .btn-link:active {
            border-color: transparent;
        }

            .btn-link:hover {
                text-decoration: none;
            }


            .btn-link:focus {
                color: #ccccff;
                text-decoration: none;
                background-color: #ccccff;
                outline-color: #ccccff;
            }

            .btn-link[disabled]:hover,
            fieldset[disabled] .btn-link:hover,
            .btn-link[disabled]:focus,
            fieldset[disabled] .btn-link:focus {
                color: #ccccff;
                text-decoration: none;
                background-color: #ccccff;
            }

/*.dropdown-container {
    padding-left:45px;
    padding-bottom:6px;
    padding-top:6px;
    padding-right:12px;
}*/

.btn-pp:hover,
.btn-pp:focus,
.btn-pp:active,
.btn-pp.active,
.btn-pp {
    color: #ffffff;
    background-color: #000080;
    border-color: #000063;
}

    .btn-pp:hover,
    .btn-pp:focus,
    .btn-pp:active,
    .btn-pp.active,
    .open .dropdown-toggle .btn-pp,
    .close .dropdown-toggle .btn-pp {
        color: #ffffff;
        background-color: #000080;
        border-color: #000080;
        margin: auto;
    }

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid #ffffff;
    border-right: 4px solid transparent;
    border-bottom: 0 dotted;
    border-left: 4px solid transparent;
    content: "";
}

.btn-trans {
    color: #000080;
    background-color: #ffffff;
    border-color: #ffffff;
}

    .btn-trans:hover,
    .btn-trans:focus,
    .btn-trans:active,
    .btn-trans.active,
    .open .dropdown-toggle .btn-trans,
    .btn-group .btn-trans {
        color: #000080;
        background-color: #ffffff;
        border-color: #ffffff;
    }

    .btn-trans .btn-lg:hover,
    .btn-trans .btn-lg:focus,
    .btn-trans .btn-lg:active,
    .btn-trans.active,
    .btn-trans .btn-lg {
        padding: 5px 5px;
        font-size: 24px;
    }

.dropdown-menu-right {
    right: 0;
    left: auto;
}

#txt-search {
    width: 100%;
    height: 45px;
    margin-left: 15px;
}
.tree-toggle
{
    padding-left:45px;
}

.tree-toggle,
.my-sidebar > li>a:hover,
.my-sidebar > li>a:focus{
    color:#000080;
    background-color: #ffffff;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #000080;
}

.my-sidebar > li {
    margin-bottom:-2px;
}
.tree > li,
.tree > li > a {
    color:#000080;
    background-color: #ffffff;
}

.tree > li > a:hover,
.tree > li > a:focus {
    color:#000080;
    background-color: #ccccff;
}

.modal-layout .modal-content {
    border-width: 2px;
    border-style: solid;
    border-color: #000080;
}

.modal-layout .modal-header {
    font-size: 24px;
    background-color: #000080;
    color: #ffffff;
}