﻿@model ngxsis.ViewModel.DokumenViewModel


@using (Html.BeginForm("Create", "Dokumen", FormMethod.Post, new { id = "form-create", name = "form-create" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.file_name, htmlAttributes: new { @class = "control-label col-md-offset-1" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.file_name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.file_name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label col-md-offset-1" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input class="btn btn-info" value="Unggah File" id="file" name="file" type="file" required />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="button" value="Batal" data-dismiss="modal" class="btn btn-warning" id="btn-batal" />
                            <input type="button" value="Simpan" class="btn btn-primary" id="btn-submit" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $("#form-create").submit(function () {
        var fileUpload = $("#file").get(0);
        var files = fileUpload.files;
        // Create FormData object
        var fileData = new FormData();
        // Looping over all files and add it to FormData object
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }
        //console.log(files);
        $.ajax({
            url: this.action,
            type: this.method,
            data: { file: fileData },
            success: function (result) {
                if (result.success) {
                    alert("Data berhasil disimpan");
                    $(".modal-utama").modal("hide");
                    GetList();
                } else {
                    alert("error" + result.message);
                }
            }

        });
        return false;
    });

    $("#btn-submit").click(function () {
        var fileUpload = $("#file").get(0);
        var files = fileUpload.files;
        // Create FormData object
        var fileData = new FormData();
        // Looping over all files and add it to FormData object
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }
        //console.log(fileUpload.files);
        $.ajax({
            url: '@Url.Action("CreateUpload", "Dokumen")',
            type: 'post',
            contentType: false,
            processData: false,
            data: fileData,
            success: function (result) {
                if (result.success) {
                    alert("Data berhasil disimpan");
                    $(".modal-utama").modal("hide");
                    GetList();
                } else {
                    alert("error" + result.message);
                }
            }

        });
    });
</script>

<link rel="stylesheet" href="~/Content/Dokumen.css" />

