﻿
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <!----default panel content-->
    <div class="panel-heading">
        <h3>
            <font color="#000080">
                <b>Dokumen</b>
                <button type="button" class="btn btn-primary btn-create-new" title="Create New" id="btn-create-new">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>

                </button>
            </font>
        </h3>
        <!--<input id="btn-create-new" type="button" class="btn btn-default" btn-lg" value="klik" />-->
    </div>
    <div class="panel-body">

    </div>
    <!--table--->
    <div id="data-list">
        <!--data-list  harus sama dg yg di javascript jquery--->
        Loading . . .
    </div>
</div>

<!-- /.modal-content create dan edit -->
<div class="modal fade modal-utama" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: darkblue">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="background: darkblue; color: white">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--edit-->
<!-- /.modal-content DELETE -->
<div class="modal fade modal-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--edit-->

<link href="~/Content/Dokumen.css" rel="stylesheet" />

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function(){
            GetList();
        });

        function GetList() {
            $.ajax({
                url:'@Url.Action("DokumenList", "Dokumen")',
                type: 'get',
                success : function (result) {
                    $("#data-list").html(result);
                }
            });
        }

        $("#btn-create-new").click(function (){
            $.ajax({
                url:'@Url.Action("Create", "Dokumen")',
                type:'get',
                success : function (result) {
                    $(".modal-utama .modal-title").html("Tambah Dokumen (Max : 500KB)");
                    $(".modal-utama .modal-body").html(result);
                    $(".modal-utama").modal("show");
                }
            });

        });

    </script>
} 