﻿@model IEnumerable<ngxsis.ViewModel.LainLainViewModel>

<table class="table table-striped" style="font-size:small;  color:#000080; font-family:Arial;">
    <thead>
        <tr>
            <th>
                NAMA
            </th>
            <th>
                ALAMAT
            </th>
            <th>
                JABATAN
            </th>
            <th>
                HUBUNGAN
            </th>
            <th>
                #
            </th>
        </tr>
    </thead>

    <tbody>
        @if (Model == null)
        {
            <tr>
                <td colspan="5"><h2>Belum Ada Data</h2></td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.name == null)
                        {
                            <span>-</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.name)
                        }
                    </td>
                    <td>
                        @if (item.name == null)
                        {
                            <span>-</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.address_phone)
                        }
                    </td>
                    <td>
                        @if (item.name == null)
                        {
                            <span>-</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.position)
                        }
                    </td>
                    <td>
                        @if (item.name == null)
                        {
                            <span>-</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.relation)
                        }
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-more dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                More
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                <li><a href="#" data-container="@item.referensiId" class="btn-edit">Ubah</a></li>
                                <li><a href="#" data-container="@item.referensiId" class="btn-delete">Hapus</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>

<script type="text/javascript">
    $(".btn-edit").click(function () {
        $.ajax({
            url: '@Url.Action("EditReferensi", "LainLain")',
            type: 'get',
            data: { id: $(this).attr("data-container") },
            success: function (result) {
                $(".modal-utama .modal-title").html("Ubah Referensi");
                $(".modal-utama .modal-body").html(result);
                $(".modal-utama").modal("show");
            }
        });
    });

    $(".btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("DeleteReferensi", "LainLain")',
            type: 'get',
            data: { id: $(this).attr("data-container") },
            success: function (result) {
                $(".modal-delete .modal-title").html("Hapus Referensi?");
                $(".modal-delete .modal-body").html(result);
                $(".modal-delete").modal("show");
            }
        });
    });
</script>
