﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - XSIS 2.0</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/homepage.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/homecontent.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="my-navbar" style="margin-left:13px;">
                    @*<li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="background-color:#000080;">
                                <h6 style="color:white">
                                    <b>Menu 1</b>
                                    <i class="glyphicon glyphicon-chevron-down" style="margin-left:20px;"></i>
                                </h6>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Kosong</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="background-color:#000080;">
                                <h6 style="color:white">
                                    <b>Menu 2</b>
                                    <i class="glyphicon glyphicon-chevron-down"style="margin-left:20px;"></i>
                                </h6>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Kosong</a></li>
                                <li><a href="#">Kosong</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="background-color:#000080;">
                                <h6 style="color:white">
                                    <b>Pengaturan</b>
                                    <i class="glyphicon glyphicon-chevron-down" style="margin-left:20px;"></i>
                                </h6>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Role">Peran</a></li>
                                <li><a href="/UserRole">Pengguna</a></li>
                            </ul>
                        </li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right" style="vertical-align:central;">
                    <li class="dropdown">
                        <a class="dropdown-toggle notif" data-toggle="dropdown" href="#" style="background-color:#000080;margin-right:0px;padding-right:0px;">
                            <h6 style="color:white">
                                <i class="glyphicon glyphicon-bell" style="margin-right:10px;"></i>
                            </h6>
                        </a>
                        <ul class="dropdown-menu dd-notif" style="margin-top:-20px;right:15px;background-color:#C8BFE7; border-radius:0px;padding-bottom:0px;padding-top:0px;">
                           
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="background-color:#000080;margin-left:0px;padding-left:0px;">
                            <h6 style="color:white">
                                <b id="user">Hi, @Session["userName"]</b>
                                <i class="glyphicon glyphicon-chevron-down" style="margin-left:20px;"></i>
                            </h6>
                        </a>
                        <ul class="dropdown-menu" style="margin-top:-20px;right:15px;border-radius:4px;">
                            <li class="dropdown-header dh">@Session["userName"]</li>
                            <li><a href="#">Ubah Kata Sandi</a></li>
                            <li><a id="btn-change" href="#">Ganti Akses</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Logout","Login")">Keluar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div class="row">
            <div class="layoutatas">
                <h1 id="judul" style="color:#000080; margin-top:10px;"><b>XSIS 2.0</b></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" id="sidebar">
                
            </div>
            <div class="clear"></div>
            <div class="content col-md-9" id="data-home" style="height:100%;min-height:300px;max-width:100%;margin-top:10px;">
                @RenderBody()
            </div>
        </div>
        <hr />
        <div class="modal fade modal-layout" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" style="color:#ffffff;font-size:20px;" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <p>One fine body&hellip;</p>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <footer>
            <p align="center" style="color:#000080; padding-left:50px;"><b> @DateTime.Now.Year - Xsis Mitra Utama</b></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts",required: false)
</body>
</html>

<script type="text/javascript">
    $(".notif").click(function () {
        $(".dd-notif").toggle();
    });
    $("#btn-change").click(function ()
    {
        $.ajax(
            {
                url: '@Url.Action("ChangeAccess","Account")',
                type: 'get',
                success: function (result) {
                    $(".modal-layout .modal-title").html($("#user").text());
                    $(".modal-layout .modal-body").html(result);
                    $(".modal-layout").modal("show");

                }
            });
    });


    $(document).ready(function () {
        console.log("ready")
        $.ajax(
            {
                url: '@Url.Action("NavBar","Account")',
                type: 'get',
                success: function (result) {
                    $("#my-navbar").html(result);
                }
            });

        $.ajax(
            {
                url: '@Url.Action("SideBar","Account")',
                type: 'get',
                success: function (result) {
                    $("#sidebar").html(result);
                }
            });
    });

    $(".btn-beranda").click(function () {
        location.href = "/Home"
    });
    $(".btn-pelamar").click(function () {
        location.href = "/Pelamar"
    });
    $(".btn-proses-pelamar").click(function () {
        location.href = "/ProsesPelamar"
    });


    //var dropdown = document.getElementsByClassName("btn-dropdown");
    //var i;

    //for (i = 0; i < dropdown.length; i++) {
    //    dropdown[i].addEventListener("click", function () {
    //        this.classList.toggle("active");
    //        var dropdownContent = this.nextElementSibling;
    //        if (dropdownContent.style.display === "block") {
    //            dropdownContent.style.display = "none";
    //        } else {
    //            dropdownContent.style.display = "block";
    //        }
    //    });
    //}
</script>
<style type="text/css">
    .modal-layout {
    text-align: center !important;
    padding: 0 !important;
}

    .modal-layout:before {
        content: '' !important;
        display: inline-block !important;
        height: 100% !important;
        vertical-align: middle !important;
        margin-right: -4px;
    }

.modal-layout .modal-dialog {
    display: inline-block !important;
    text-align: left !important;
    vertical-align: middle !important;
}
</style>

