﻿
@model ngxsis.ViewModel.LoginViewModel
<link href="~/Content/StyleLogin.css" rel="stylesheet" />
<link href="~/Content/role.css" rel="stylesheet" />
<div class="container">
    @using(Html.BeginForm("Index","Login",FormMethod.Post,new
    {
        id = "form-login",
        name = "form-login"
    }))
    {
        <div class="form-group">
            <div class="margin-login">
                @Html.EditorFor(model => model.email,new { htmlAttributes = new { @class = "form-control margin-login input-login",@placeholder = "Email",@required = "required" } })
                @Html.ValidationMessageFor(model => model.email)
            </div>
            <div class="margin-login">
                @Html.EditorFor(model => model.abpwd,new { htmlAttributes = new { @class = "form-control margin-login input-login",@placeholder = "Password",@required = "required" } })
                @Html.ValidationMessageFor(model => model.abpwd)
            </div>
            <div class="margin-login">
                <input id="btn-login" class="btn margin-login" type="submit" name="name" value="Masuk" />
            </div>
        </div>
    }
</div>

<script type="text/javascript">
        $("#form-login").submit(function () {
            $.ajax({
                url: '@Url.Action("ChangeAccess","Account")',
                type: 'post',
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success == true) {
                        alert(result.message);
                        location.href = '/';
                    }
                    else if (result.success == false) {
                        alert(result.message);
                    }
                }
            });
            return false;
        });
</script>
@Scripts.Render("~/bundles/jqueryval")