﻿@model ngxsis.ViewModel.BiodataViewModel
<link rel="stylesheet" href="~/Content/BioView.css">
@Html.AntiForgeryToken()

@Html.HiddenFor(model => model.id)

<div class="container" >
    <div class="row">
        <div class="col-sm-3">
            <table style="width:230px; border:2px solid #000080; font-size:small;">
               <tr>
                    <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" id="btn-profil" class="btn btn-link" data-id="@Model.id">Profil</button></td>
                </tr>
                <tr>
                    <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" id="btn-biodata" class="btn btn-link" data-id="@Model.biodata_id">Biodata</button></td>
                </tr>
                <tr>
                    <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" id="btn-pengalaman" class="btn btn-link" data-id="@Model.biodata_id">Pengalaman Kerja</button></td>
                </tr>
                <tr>
                    <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" id="btn-pendidikan" class="btn btn-link" data-id="@Model.biodata_id">Pendidikan</button></td>
                </tr>
                <tr>
                    <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" id="btn-pelatihan" class="btn btn-link" data-id="@Model.biodata_id">Pelatihan</button></td>
                </tr>
                <tr>
                    <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" id="btn-sertifikasi" class="btn btn-link" data-id="@Model.biodata_id">Sertifikasi</button></td>
                </tr>

                <tr>
                    <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" class="btn btn-link" data-id="@Model.id">Sumber Lowongan Kerja</button></td>
                </tr>
                <tr>
                    <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" id="btn-organisasi" class="btn btn-link" data-id="@Model.biodata_id">Organisasi</button></td>
                </tr>

                <tr>
                    <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" id="btn-keluarga" class="btn btn-link" data-id="@Model.biodata_id">Keluarga</button></td>
                </tr>
                <tr>
                    <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" id="btn-keahlian" class="btn btn-link" data-id="@Model.biodata_id">Keahlian</button></td>
                </tr>
                <tr>
                    <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" id="btn-lainlain" class="btn btn-link" data-id="@Model.biodata_id">Lain-lain</button></td>
                </tr>
                <tr>
                    <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" class="btn btn-link" data-id="@Model.id">Dokumen</button></td>
                </tr>
                <tr>
                    <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" id="btn-catatan" class="btn btn-link" data-id="@Model.biodata_id">Catatan</button></td>
                </tr>
                <tr>
                    <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" class="btn btn-link" data-id="@Model.id">Aktivasi Akun</button></td>
                </tr>
                <tr>
                    <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" class="btn btn-link" data-id="@Model.id">Lihat Tes</button></td>
                </tr>
                <tr>
                    <td style="border:2px solid #000080;"><button style="padding-left:45px; color:#000080;" type="submit" class="btn btn-link" data-id="@Model.biodata_id">Hasil Tes</button></td>
                </tr>

            </table>

        </div>
        <div class="col-sm-9">

            <!-- Page content -->
            <div id="datadata" style="bottom:-20px;">
            </div>
        </div>
    </div>

</div>





<script type="text/javascript">
    var biodataId
    $("#btn-biodata").click(function () {
        biodataId = $(this).attr("data-id");
        console.log(biodataId)
        GetListP();

    });

    function GetListP() {
        $.ajax(
            {
                url: '@Url.Action("BioList", "Pelamar")',
                type: 'get',
                data: { id: biodataId },
                success: function (result) {
                    $("#datadata").html(result);
                    $("#datepicker").datepicker({
                        dateFormat: "yy-mm-dd"
                    });
                }
            });
    }
    $("#btn-lainlain").click(function () {
        //alert("ID Biodata : " + $(this).attr("data-id"));
        $.ajax({
            url: '@Url.Action("ListIndex", "LainLain")',
            type: 'get',
            data: { idBiodata: $(this).attr("data-id") },
            success: function (result) {
                $("#datadata").html(result);
            }
        });
    });

    $("#btn-keahlian").click(function () {
        biodata_id = $(this).data("id");
        //alert("ID Biodata : " + $(this).attr("data-id"));
        $.ajax({
            url: '@Url.Action("List", "Keahlian")',
            type: 'get',
            data: { biodata_id: $(this).attr("data-id") },
            success: function (result) {
                $("#datadata").html(result);
            }
        });
    });

    $("#btn-organisasi").click(function () {
        biodata_id = $(this).data("id");
        //alert("ID Biodata : " + $(this).attr("data-id"));
        $.ajax({
            url: '@Url.Action("List", "Organisasi")',
            type: 'get',
            data: { biodata_id: $(this).attr("data-id") },
            success: function (result) {
                $("#datadata").html(result);
            }
        });
    });

    $("#btn-pelatihan").click(function () {
        biodata_id = $(this).data("id");
        //alert("ID Biodata : " + $(this).attr("data-id"));
        $.ajax({
            url: '@Url.Action("List", "Pelatihan")',
            type: 'get',
            data: { biodata_id: $(this).attr("data-id") },
            success: function (result) {
                $("#datadata").html(result);
            }
        });
    });

    $("#btn-pengalaman").click(function () {
        biodata_id = $(this).data("id");
        //alert("ID Biodata : " + $(this).attr("data-id"));
        $.ajax({
            url: '@Url.Action("List", "Pengalaman")',
            type: 'get',
            data: { biodata_id: $(this).attr("data-id") },
            success: function (result) {
                $("#datadata").html(result);
            }
        });
    });

    function GetPengalaman() {
        $.ajax({
            url: '@Url.Action("List", "Pengalaman")',
            type: 'get',
            data: { biodata_id: biodata_id },
            success: function (result) {
                $("#datadata").html(result);
                //   console.log(bioid);
            }
        });
    }

    function GetKeahlian() {
        $.ajax({
            url: '@Url.Action("List", "Keahlian")',
            type: 'get',
            data: { biodata_id: biodata_id },
            success: function (result) {
                $("#datadata").html(result);
                //   console.log(bioid);
            }
        });
    }

    function GetOrganisasi() {
        $.ajax({
            url: '@Url.Action("List", "Organisasi")',
            type: 'get',
            data: { biodata_id: biodata_id },
            success: function (result) {
                $("#datadata").html(result);
                //   console.log(bioid);
            }
        });
    }

    function GetPelatihan() {
        $.ajax({
            url: '@Url.Action("List", "Pelatihan")',
            type: 'get',
            data: { biodata_id: biodata_id },
            success: function (result) {
                $("#datadata").html(result);
                //   console.log(bioid);
            }
        });
    }

    $(".close").click(function () {

        GetList();
    });


    $("#btn-sertifikasi").click(function () {
        biodata_id = $(this).data("id");
        $.ajax({
            url: '@Url.Action("List", "Sertifikasi")',
            type: 'get',
            data: { biodata_id: $(this).attr("data-id") },
            success: function (result) {
                $("#datadata").html(result);
                //   console.log(bioid);
            }
        });
    });
    function GetSertifikasi() {
        $.ajax({
            url: '@Url.Action("List", "Sertifikasi")',
            type: 'get',
            data: { biodata_id: biodata_id },
            success: function (result) {
                $("#datadata").html(result);
                //   console.log(bioid);
            }
        });
    }



    $("#btn-pendidikan").click(function () {
        biodata_id = $(this).data("id");
        //console.log($(this).data("id"));
        //alert("ID Biodata : " + $(this).attr("data-id"));
        //    var bioid = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("List", "Pendidikan")',
            type: 'get',
            data: { biodata_id: $(this).attr("data-id") },
            success: function (result) {
                $("#datadata").html(result);
                //   console.log(bioid);
            }
        });
    });
    function GetPendidikan() {
        $.ajax({
            url: '@Url.Action("List", "Pendidikan")',
            type: 'get',
            data: { biodata_id: biodata_id },
            success: function (result) {
                $("#datadata").html(result);
                //   console.log(bioid);
            }
        });
    }


    $("#btn-keluarga").click(function () {
        biodata_id = $(this).data("id");
        $.ajax({
            url: '@Url.Action("List", "Keluarga")',
            type: 'get',
            data: { biodata_id: $(this).data("id") },
            success: function (result) {
                $("#datadata").html(result);
                //   console.log(bioid);
            }
        });
    });
    //agar bisa reload
    function GetKeluarga() {
        $.ajax({
            url: '@Url.Action("List", "Keluarga")',
            type: 'get',
            data: { biodata_id: biodata_id },
            success: function (result) {
                $("#datadata").html(result);
                //   console.log(bioid);
            }
        });
    }



    $("#btn-catatan").click(function () {
        biodata_id = $(this).data("id");
        $.ajax({
            url: '@Url.Action("List", "Catatan")',
            type: 'get',
            data: { biodata_id: $(this).attr("data-id") },
            success: function (result) {
                $("#datadata").html(result);
                //   console.log(bioid);
            }
        });
    });

    function GetCatatan() {
        $.ajax({
            url: '@Url.Action("List", "Catatan")',
            type: 'get',
            data: { biodata_id: biodata_id },
            success: function (result) {
                $("#datadata").html(result);
                //   console.log(bioid);
            }
        });
    }

    $("#btn-sumlok").click(function () {
        $.ajax(
          {
              url: '@Url.Action("Create", "SumberLoker")',
              type: 'get',
              success: function (result) {
                  $("#datadata").html(result);
                  $("#datepicker").datepicker({
                      dateFormat: "yy-mm-dd",
                  });
              }
          });

    });

    $("#btn-profil").click(function () {
        $.ajax(
          {
              url: '@Url.Action("List", "Profil")',
              type: 'get',
              data: { id: $(this).attr("data-id") },
              success: function (result) {
                  $("#datadata").html(result);
              }
          });

    });

</script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />