﻿@model IEnumerable<ngxsis.ViewModel.RoleViewModel>
<div class="container" style="margin-top:2%;">


    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="input-group" style="width:100%;">
                <input type="text" id="txt-search" class="form-control" style="" placeholder="Cari">
                <span class="input-group-btn">
                    <button class="btn btn-clear" style="height:45px;color:#000080;margin-left:-35px;padding:0px 10px 2px 0px;background-color:transparent;font-size:20px;" type="button"><b>&times;</b></button>
                    <button class="btn btn-pp btn-search" style="height:45px;" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-left:0px;text-align:right;margin-top:5px;">
            <div class="btn-group btn-trans" style="margin-left:12px;" role="group" aria-label="...">
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle btn-trans  btn-lg " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right btn-link-a">
                        <li class="dropdown-header dh">Order</li>
                        <li><a href="javascript:void(0)" class="btn-link sort-asc">Ascending</a></li>
                        <li><a href="javascript:void(0)" class="btn-link sort-desc">Descending</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle btn-trans  btn-lg " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                    <ul class="dropdown-menu btn-link-a">
                        <li class="dropdown-header dh">Row Per Page</li>
                        <li><a href="javascript:void(0)" class="btn-link btn-list" data-container="10">10</a></li>
                        <li><a href="javascript:void(0)" class="btn-link btn-list" data-container="20">20</a></li>
                        <li><a href="javascript:void(0)" class="btn-link btn-list" data-container="30">30</a></li>
                        <li><a href="javascript:void(0)" class="btn-link btn-list" data-container="40">40</a></li>
                        <li><a href="javascript:void(0)" class="btn-link btn-list" data-container="50">50</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-trans btn-lg btn-create-new"><span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
        </div>
    </div>
    <hr style="border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #000080;
    margin-bottom:3px;
    margin-top:0px" />
    <hr style="border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #000080;
    margin-top:10px;" />

    <table class="table table-striped" style="font-size:small;">
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th style="text-align:right;"><b style="margin-right:70px;">#</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-left">
                        <div>
                            @Html.DisplayFor(modelItem => item.Code)

                        </div>
                    </td>
                    <td class="text-left">
                        <div>
                            @Html.DisplayFor(modelItem => item.Name)

                        </div>
                    </td>
                    <td>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-primary btn-pp"><b>More</b></button>
                            <button type="button" class="btn dropdown-toggle btn-pp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu btn-link-a">
                                <li><a href="javascript:void(0)" class="btn-link-ubah" data-value="@item.Id">Ubah</a></li>
                                <li><a href="javascript:void(0)" class="btn-link-hapus" data-value="@item.Id">Hapus</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm btn-pill pull-right btn-next" onclick="plus()"><b>Next &#8594;</b></button>
                    <button type="button" class="btn btn-primary btn-sm btn-pill pull-right btn-prev" onclick="min()"><b>&#8592; Previous</b></button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<script type="text/javascript">

    $(document).ready(function ()
    {
        itemCount = 0;
        $("#data").find("tbody").find("tr").each(function (item) {
            itemCount = itemCount + 1;
        });
        if (itemCount < dataPerPage) {
            maxPage = page;
        } else {
            maxPage = page + 1;
        }
        if (page == 0) {
            $(".btn-prev").hide();
        } else
        {
            $(".btn-prev").show();
        }
        if (page == maxPage) {
            $(".btn-next").hide();
        } else
        {
            $(".btn-next").show();
        }
    });
    /*ROW PER PAGE*/
    $(".btn-list").click(function ()
    {
        page=0;
        dataPerPage = $(this).attr("data-container");
        GetList();
    });
    /*GO TO PREVIOUS PAGE*/
    function min () {
        if (page > 0) {
            page = page - 1;
        }
        GetList();
    };
    /*GO TO NEXT PAGE*/
    function plus () {
        if (page < maxPage) {
            page = page + 1;
        }
        GetList();
    };

    /*SHOW DATA BY SEARCH*/
    $(".btn-search").click(function () {
        desc = 0;
        page = 0;
        search = $("#txt-search").val();
        GetList();
    });

    /*SORT ASCENDING*/
    $(".sort-asc").click(function () {
        desc = 0;
        page = 0;
        GetList();
    });

    /*SORT DESCENDING*/
    $(".sort-desc").click(function () {
        desc = 1;
        page = 0;
        GetList();
    });

    /*CLEAR SEARCH*/
    $(".btn-clear").click(function () {
        page = 0;
        search="";
        GetList();
    });

    /*ADD NEW DATA*/
    $(".btn-create-new").click(function () {
        $.ajax(
            {
                url: '@Url.Action("Create", "Role")',
                type: 'get',
                success: function (result) {
                    $(".modal-title").html("Tambah Role");
                    $(".modal-body").html(result);
                    $(".modal-main").modal("show");
                }
            });

    });
    /*EDIT DATA*/
    var submited = true;;
    $(".btn-link-ubah").click(function () {
        $.ajax(
            {
                url: '@Url.Action("Edit", "Role")',
                type: 'get',
                data: { Id: $(this).data("value") },
                success: function (result) {
                    $(".modal-main .modal-title").html("Ubah Role");
                    $(".modal-main .modal-body").html(result);
                    $(".modal-main").modal("show");
                    submited = false;
                }
            });


    });
    /*DELETE DATA*/
    $(".btn-link-hapus").click(function () {
        $.ajax(
            {
                url: '@Url.Action("Delete", "Role")',
                type: 'get',
                data: { id: $(this).data("value") },
                success: function (result) {
                    $(".modal-delete .modal-title").html("Hapus Role ?");
                    $(".modal-delete .modal-body").html(result);
                    $(".modal-delete").modal("show");
                }
            });

    });
</script>